In [11]:
import pandas as pd

In [12]:
titles = pd.read_csv('titles.csv')
casts = pd.read_csv('cast.csv')
dates=pd.read_csv('releasedates.csv')

### How many movies are listed in the titles dataframe?

In [74]:
titles.title.nunique()

223828

### What are the earliest two films listed in the titles dataframe?

In [75]:
titles.sort_values('year').head()

                                                    title  year
193222                                         Miss Jerry  1894
51388                                  The Startled Lover  1898
4584       Reproduction of the Corbett and Jeffries Fight  1899
219198                                     May Day Parade  1900
47548   Pierrot's Problem, or How to Make a Fat Wife O...  1900

### How many movies have the title "Hamlet"?

In [76]:
a=titles[titles["title"] == "Hamlet"]
print(a.head())
print(len(a))

        title  year
6422   Hamlet  2017
10637  Hamlet  1921
39916  Hamlet  1913
52521  Hamlet  1910
62000  Hamlet  2000
20

### How many movies are titled "North by Northwest"?

In [77]:

b=titles[titles["title"] == "North by Northwest"]
print(b.head())
len(b)

                    title  year
74398  North by Northwest  1959

1

In [78]:
titles.isnull().sum()

title    0
year     0
dtype: int64

### When was the first movie titled "Hamlet" made?

In [79]:
titles[titles["title"] == "Hamlet"].sort_values("year").head(1).year

52521    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [80]:
titles[titles["title"]=="Treasure Island"].sort_values("year")

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [81]:
c=titles[titles["year"] == 1950]
len(c)

1113

### How many movies were made in the year 1960?

In [82]:
len(titles[titles["year"] == 1960])

1549

### How many movies were made from 1950 through 1959?

In [83]:
len(titles[(titles.year>=1950) & (titles.year<1959)])

11419

### In what years has a movie titled "Batman" been released?

In [84]:
titles[titles["title"]=="Batman"].year

39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [13]:
casts[casts['title'] == 'Inception'].character.shape[0]

0

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [10]:
casts[casts['title']=='Inception'].isnull().sum().sum()

0

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [109]:
a = casts[(casts['title']=='North by Northwest') & (casts['n'].notnull())]

In [110]:
a[['name','n']].sort_values('n')

Empty DataFrame
Columns: [name, n]
Index: []

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [71]:
casts[(casts['year']<1980) & (casts['n']==1)].shape[0]

1274

### How many non-leading roles were available through from the beginning of film history through 1980?

In [68]:
casts[(casts['year']<1980) & (casts['n']!=1)].shape[0]

19939

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [67]:
casts[(casts['year']<=1980) & (casts['n'].isnull())].shape[0]

8126